<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Sobre o sistema</title>
	    <link rel="stylesheet" href="style.css">
	</head>
	<body>
	    <nav id="menu-h">
	        <ul>
	            <li><a href="/">Início</a></li>
	            <li><a href="/cadastrarFornecedor">Cadastrar Fornecedor</a></li>
	            <li><a href="/sobre">Sobre o Sistema</a></li>
	        </ul>
	    </nav>
	    <!------------------------------------------------------------------------------------------>
		<div>
			<h2 class="title">Sobre o sistema</h2>
			<br/>
		</div>
		<div>
			<table>
			  <tr>
			    <th>O sistema</th>
			    <th>O que faz</th>
			    <th>Versão</th>
			  </tr>
			  <tr>
			    <td>Sistema para cadastro e Atualização de Fornecedores</td>
			    <td>
			    O sistema permite inserir fornecedores no 
			    banco de dados através de um formulario; 
			    também permite listar todos os cadastros,
			    além de alterar e remover os cadastrados.
			    </td>
			    <td>1.0</td>
			  </tr>
			</table>
			<br/>
			<br/>
			<table>
			  <tr>
			    <th>O desenvolvedor</th>
			    <th>Formação</th>
			    <th>Contato</th>
			  </tr>
			  <tr>
			    <td>Joanatas Rodrigues Martins</td>
			    <td>Estudante de Sistemas de Informação, Faculdade Delta</td>
			    <td>joanatasmartins@gmail.com</td>
			  </tr>
			</table>
		</div>
			<br/>
			<br/>
		<div>
		<p class="rodape">
		Sistema desenvolvido junto a materia de 
		Programação Web II, com o professor Maykon Douglas</p>
		</div>
	</body>
</html>